body {
    font-family: 'Montserrat', sans-serif;
    background-color: slategray;
}

.card {
    background-color: rgb(205, 218, 234);
}

#profile-card {
    background-color: rgb(56, 64, 75);
    color: rgb(205, 218, 234);
}


a {
    color: rgb(0, 0, 101)
}