body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1531914082256-1b9047242426?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169')
}

.card {
    background-color: rgb(205, 218, 234);
}

#profile-card {
    background-color: rgb(56, 64, 75);
    color: rgb(205, 218, 234);
}


a {
    color: rgb(0, 0, 101)
}

.page-content{
    background-color: rgba(112, 128, 144, .8);
    border-radius: 5px;
}