{% extends 'base.html' %}

{% block content %}

<div class="container page-content my-4 p-2">
<h3 class="my-2">{{user.username.capitalize()}}'s Reviews</h3>

{% if reviews %}
{% for review in reviews %}

<div class="card my-2">
    <div class="card-header">
        <b>{{review.title}}</b>         
        <span class="text-muted">a review of </span><a href="/games/game/{{review.game_id}}">{{game_dict.get(review.game_id)}}</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{review.text}}</p>
        <footer class="blockquote-footer float-right"><a href="/users/profile/{{review.user_username}}">{{review.user_username}}</a>, {{review.timestamp}}</footer>
      </blockquote>
    </div>
    <div class="card-footer">
        {% if g.user.username == review.user_username %}
        <form style="display: inline;" action="/reviews/{{review.id}}/delete" method="POST">
            <button class="btn btn-danger float-right mx-2"><i class="fa-solid fa-trash-can"></i></button>
        </form>
        <a class="btn btn-outline-success float-right" href="/reviews/{{review.id}}/edit"><i class="fa-solid fa-pen-to-square"></i></a>
        {% endif %}
    </div>
  </div>

{% endfor %}

{% else  %}

<p>{{user.username.capitalize()}} has not left any reviews!</p>

{% endif %}
</div>


{% endblock %}