{% extends 'base.html' %}
{% block title %} {{user.username}} Page {% endblock %}
{% block content %}
<div class="container row">
    <div class="my-2 mr-2 card mb-3 col-lg-3" id="profile-card">
        <h2 class="my-2">{{user.username.capitalize()}}'s Profile</h2>
        <hr>
        {% if g.user.username == user.username %}
        <h6 class="my-2">Email: {{user.email}}</h6>
        <a href="/users/edit" class="btn btn-outline-success btn-lg btn-block my-2">Edit Account Info</a>
        <form action="/users/delete" method="POST">
        <button id="delete-user-btn" type="submit" class="btn btn-outline-danger btn-lg btn-block my-2">Delete Account</button>
        </form>
        {% endif %}
        <h4 class="my-2">Latest Reviews:</h4>
        <ul>
        {% for review in reviews %}
            <li><b><a href="/games/game/{{review.game_id}}#reviews">{{review.title}}</a></b></li>
        {% endfor %}
        </ul>
        <div class="mt-auto text-center">
        <a href="/users/{{user.username}}/reviews"><span class="text-muted">See All Reviews</span></a>
        </div>
    </div>

    <div id="container" class="my-2 card col-lg-8">
        <h4 class="my-2">Favorite Games:</h4>
    {% if games %}
    {% for game in games %}
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-3">
            <a href="/games/game/{{game.id}}"><img src="{{game.image_url}}" class="card-img" style="max-height: 15vh; object-fit: cover;" alt="Image of game"></a>
          </div>
          <div class="col-9">
            <div class="card-body">
              <h5 class="card-title">{{game.name}}
                {% if g.user %}
                <form method="POST" class="d-inline" action="/users/like_game/{{ game.id }}" id="messages-form">
                    <button id="{{game.name}}-like-btn" class="float-right btn btn-sm
                    {% if game.id in game_ids_list %}
                    btn-danger
                    {% else %}
                    btn-outline-dark
                    {% endif %}">
                    <i class="fa-regular fa-heart"></i> 
                    </button>
                </form>
                </h5>
                <p class="card-text"><small class="text-muted"><p>{{game.year_published}} | {{game.min_players}} - {{game.max_players}} Players | {{game.min_playtime}} - {{game.max_playtime}} Minutes</p></small></p>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>{% if g.user.username == user.username %}You don't{% else %}{{user.username.capitalize()}} doesn't{% endif %} like any games yet!</p>
      {% endif %}

{% endblock %}

